<section class="subscribe no-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="subscribe-call-to-acton">
            <h3>ЗВОНИТЕ НАМ</h3>
            <h4>+7921-291-4353</h4>
          </div>
        </div>
        <!-- Col end -->      
        <div class="col-lg-8">
          <div class="ts-newsletter row align-items-center">
            <div class="col-md-5 newsletter-introtext">
              <h4 class="text-white mb-0">Вывоз лома 24/7</h4>
              <p class="text-white">Все районы города </p>
            </div>
          </div>
        </div>
    </div>
  </section>
  <br>