<div class="row justify-content-between">
    <div class="col-lg-4 col-md-6 footer-widget footer-about">
      <h3 class="widget-title">{{ self.about_us_title }}</h3>
      <p>
        {{ self.about_us_text }}
      </p>
      
      <!-- Footer social end -->
    </div>
    <!-- Col end -->
    <div class="col-lg-4 col-md-6 footer-widget mt-5 mt-md-0">
      <h3 class="widget-title">{{ self.work_time_title }}</h3>
      <div class="working-hours">
        {{ self.work_time_text }} 
      </div>
    </div>
    <!-- Col end -->
    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 footer-widget">
      <h3 class="widget-title">{{ self.services_title }} </h3>

        {{ self.services_text }}
    </div>
    <!-- Col end -->
  </div>