{% load wagtailcore_tags wagtailimages_tags %}

<section class="call-buton"><a class="cc-calto-action-ripple" href="tel:{{ self.call_us_number }}"><i class="fa fa-phone"></i><span class="num"></span>
</a>
</section>
<!-- phone round end-->

<!--/ Topbar end -->
<!-- Header start -->
{% image self.logo original as logo %}
<div class="logo-area">
    <div class="row align-items-center">
      <div class="logo col-lg-3 text-center text-lg-left mb-3 mb-md-5 mb-lg-0">
          <a class="d-block" href="index.html">
            <img loading="lazy" src="{{ logo.url }}" alt="Вывоз Лома СПБ">
          </a>
      </div><!-- logo end -->

      <div class="col-lg-9 header-right">
          <ul class="top-info-box">
            <li>
              <div class="info-box">
                <div class="info-box-content">
                    <p class="info-box-title">{{ self.call_us_text }}</p>
                    <p class="info-box-subtitle">{{ self.call_us_number }}</p>
                </div>
              </div>
            </li>
            <li>
              <div class="info-box">
                <div class="info-box-content">
                    <p class="info-box-title">{{ self.email_text }}</p>
                    <p class="info-box-subtitle">{{ self.email_address }}</p>
                </div>
              </div>
            </li>
            <li class="last">
              <div class="info-box last">
                <div class="info-box-content">
                 <p class="info-box-title"> <i class="fas fa-map-marker-alt"></i> {{ self.address_text }}</p>
                    <p class="info-box-subtitle">{{ self.address }}</p>
                </div>
              </div>
            </li>
            <li class="header-get-a-quote">
              <a class="btn btn-primary" href="{{ self.apply_button_url }}">{{ self.apply_button_text }}</a>
            </li>
          </ul><!-- Ul end -->
      </div><!-- header right end -->
    </div><!-- logo area end -->

