{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n wagtailcore_tags %}
<section id="main-container" class="main-container">
  <div class="container">
<div class="row">
    <div class="col-lg-4 mt-5 mt-lg-0">
      <h3 class="column-title mrt-0">{{ self.title }}</h3>
      <p>
        {{ self.text }}
      </p>
    </div>
    <div class="col-lg-8">
      <div id="page-slider" class="page-slider small-bg">
        <div class="item">
          {% image self.image1 original as img1 %}
          <img loading="lazy"
               class="img-fluid"
               src="{{ img1.url }}"
               alt="{{ self.alt1 }}"/>
        </div>
        <div class="item">
          {% image self.image2 original as img2 %}
          <img loading="lazy"
               class="img-fluid"
               src="{{ img2.url }}"
               alt="{{ self.alt2 }}"/>
        </div>
        <div class="item">
          {% image self.image3 original as img3 %}
          <img loading="lazy"
               class="img-fluid"    
               src="{{ img3.url }}"
               alt="{{ self.alt3 }}"/>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<br>