

      <section id="main-container" class="main-container">
        <div class="container">
      
          <div class="row">
      
            <div class="col-lg-6">
              
              {{ self.title }}
              {{ self.text }}
      
            </div>
            <!--/ Col end -->
      
            <div class="col-lg-6">
      
             {{ self.title2 }}
              {{ self.text2 }}
      
            </div>
            <!--/ Col end -->
      
          </div><!-- Content row 1 -->
      
          <div class="gap-20"></div>
      
         
          
      
        </div><!-- Container end -->
      </section><!-- Main container end -->