<section id="ts-service-area" class="ts-service-area pb-0">
    <div class="container">
      <div class="row text-center">
        {% comment %} <div class="col-12"> {% endcomment %}
          <div style="position:relative;overflow:hidden;">
            <a href="https://yandex.ru/maps/2/saint-petersburg/?utm_medium=mapframe&utm_source=maps"
               style="color:#eee;
                      font-size:12px;
                      position:absolute;
                      top:0px">Санкт‑Петербург</a><a href="https://yandex.ru/maps/2/saint-petersburg/house/ulitsa_turku_13k1/Z0kYdQ9nTkMOQFtjfXR3d3lhZg==/?ll=30.387769%2C59.866522&utm_medium=mapframe&utm_source=maps&z=17.21"
           style="color:#eee;
                  font-size:12px;
                  position:absolute;
                  top:14px">Улица Турку, 13к1 — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/?ll=30.387769%2C59.866522&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NzQ0NTM5NRJJ0KDQvtGB0YHQuNGPLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywg0YPQu9C40YbQsCDQotGD0YDQutGDLCAxM9C6MSIKDSYa80EVUXdvQg%2C%2C&z=17.21"
                width="560"
                height="400"
                frameborder="1"
                allowfullscreen="true"
                style="position:relative"></iframe>
          </div>
        {% comment %} </div> {% endcomment %}
      </div>
    </div>
  </section>
</br>