{% extends "base.html" %}
{% load static %}
{% load i18n wagtailimages_tags %}
{% load i18n wagtailcore_tags %}
{% load static wagtailuserbar %}
{% block content %}
  <div class="body-inner">
    {% block header %}
      {% include "includes/menu.html" %}
    {% endblock header %}
    <br>
  

<section id="main-container" class="main-container">
  <div class="container">

    <div class="row">

      <div class="col-lg-6">

        <br>

        {{ self.intro|richtext }}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Внимание!</strong> Отправляя форму вы автоматически соглшайтесь с обработкой персоональных данныx!!!
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="col-lg-6">
     
        <form id="contact-form" method="POST" action="{% pageurl page %}">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
    
              <h4>{{ field.label_tag }}</h4>
              
              {{ field }}
              
              {% if field.help_text %}<small class="form-text text-muted">{{ field.help_text }}</small>{% endif %}
              {% if field.errors %}
                <div class="text-danger">
                  {% for error in field.errors %}<span>{{ error }}</span>{% endfor %}
                </div>
              {% endif %}
            </div>
          {% endfor %}
          <button class="btn btn-primary solid blank" type="submit">Отправить</button>
        </form>
      </div>
    </div><!-- Content row 1 -->
  </div><!-- Container end -->
</section><!-- Main container end -->
<br>


   
<!-- Service end -->
{% block footer %}
  {% include "includes/footer.html" %}
{% endblock footer %}
{% endblock %}
