{% extends "base.html" %}
{% load static %}
{% load i18n wagtailimages_tags %}
{% load i18n wagtailcore_tags %}
{% load static wagtailuserbar %}
{% block content %}
  <div class="body-inner">
    {% block header %}
      {% include "includes/menu.html" %}
    {% endblock header %}
    <!--/ Header end -->
    <section id="main-container" class="main-container">
      <div class="container">
        <div class="row text-center">
          <div class="col-12">
            <br>
            <h2 class="section-title">Вывоз лома в СПБ</h2>
            <h3 class="section-sub-title">Цены</h3>
          </div>
        </div>
        <!--/ Title row end -->
        {% block metall %}
          {% include "includes/metall.html" %}
        {% endblock metall %}
        <!--/ Content row end -->
      </div>
      <br>
      <!-- Conatiner end -->
      <section id="main-container" class="main-container">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 mt-5 mt-lg-0">
              <h3 class="column-title mrt-0">Отзывы</h3>
              <p>
                Компании, которые занимаются металлом, могут иметь различные профили деятельности, в зависимости от того, какой вид металла они производят или обрабатывают. Например, некоторые компании могут заниматься добычей и производством металлических руд, тогда как другие могут специализироваться на переработке металлических материалов, таких как сталь, алюминий или медь.
              </p>
            </div>
            <div class="col-lg-8">
              <div id="page-slider" class="page-slider small-bg">
                <div class="item">
                  <img loading="lazy"
                       class="img-fluid"
                       src="{% static 'images/slider-main/bg3.jpg' %}"
                       alt="project-image"/>
                </div>
                <div class="item">
                  <img loading="lazy"
                       class="img-fluid"
                       src="{% static 'images/slider-main/bg2.jpg' %}"
                       alt="project-image"/>
                </div>
              </div>
              <!-- Page slider end -->
            </div>
            <!-- Slider col end -->
          </div>
          <!-- Row end -->
        </div>
        <!-- Conatiner end -->
      </section>
      <!-- Main container end -->
    </div>
    <!-- Page slider end -->
  </div>

  <section id="ts-service-area" class="ts-service-area pb-0">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <br>
          <h2 class="section-title">We Are Specialists In</h2>
          <h3 class="section-sub-title">What We Do</h3>
          <div style="position:relative;overflow:hidden;">
            <a href="https://yandex.ru/maps/2/saint-petersburg/?utm_medium=mapframe&utm_source=maps"
               style="color:#eee;
                      font-size:12px;
                      position:absolute;
                      top:0px">Санкт‑Петербург</a><a href="https://yandex.ru/maps/2/saint-petersburg/house/ulitsa_turku_13k1/Z0kYdQ9nTkMOQFtjfXR3d3lhZg==/?ll=30.387769%2C59.866522&utm_medium=mapframe&utm_source=maps&z=17.21"
           style="color:#eee;
                  font-size:12px;
                  position:absolute;
                  top:14px">Улица Турку, 13к1 — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/?ll=30.387769%2C59.866522&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NzQ0NTM5NRJJ0KDQvtGB0YHQuNGPLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywg0YPQu9C40YbQsCDQotGD0YDQutGDLCAxM9C6MSIKDSYa80EVUXdvQg%2C%2C&z=17.21"
                width="560"
                height="400"
                frameborder="1"
                allowfullscreen="true"
                style="position:relative"></iframe>
          </div>
          <br>
        </div>
      </div>
      <!--/ Title row end -->
    </div>
  </section>
  <!-- Service end -->
  <section class="subscribe no-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="subscribe-call-to-acton">
            <h3>Can We Help?</h3>
            <h4>(+9) 847-291-4353</h4>
          </div>
        </div>
        <!-- Col end -->
        <div class="col-lg-8">
          <div class="ts-newsletter row align-items-center">
            <div class="col-md-5 newsletter-introtext">
              <h4 class="text-white mb-0">Newsletter Sign-up</h4>
              <p class="text-white">Latest updates and news</p>
            </div>
            <div class="col-md-7 newsletter-form">
              <form action="#" method="post">
                <div class="form-group">
                  <label for="newsletter-email" class="content-hidden">Newsletter Email</label>
                  <input type="email"
                         name="email"
                         id="newsletter-email"
                         class="form-control form-control-lg"
                         placeholder="Your your email and hit enter"
                         autocomplete="off">
                </div>
              </form>
            </div>
          </div>
          <!-- Newsletter end -->
        </div>
        <!-- Col end -->
      </div>
      <!-- Content row end -->
    </div>
    <!--/ Container end -->
  </section>
  <!--/ subscribe end -->
  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock footer %}
  <!-- Footer end -->
{% endblock %}
