{% extends "base.html" %}
{% load static %}
{% load i18n wagtailimages_tags %}
{% load i18n wagtailcore_tags %}
{% load static wagtailuserbar %}
{% block content %}
  <div class="body-inner">



    {% block header %}
      {% include "includes/menu.html" %}
    {% endblock header %}
<br>





    {% for block in page.content %}
    {% include_block block %}
    {% endfor %}


  <!-- Service end -->
  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock footer %}
{% endblock %}

